<h1>Editing User</h1>
<ul>
  <li>Do not swear on this website!</li>
  <li>Have a good day!</li>
</ul>


<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
